<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'fwitter/css/index.css' %}">
</head>
<body>
  <div id="menu">
    <h1>Fwitter - Fake Twitter</h1>
    <button id="registerBtn">Register</button>
    <button id="verifyBtn">Verify</button>
    <button id="loginBtn">Log in</button>
    <button id="postTweetBtn">Post Tweet</button>
    <button id="viewTweetBtn">View Tweet</button>
    <button id="searchTweetsBtn">Search Tweets</button>
    <button id="logoutBtn">Log out</button>
  </div>
  <form id="registerForm">
    <h2>Register</h2>
    <input type="text" name="username" placeholder="username">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <button class="cancelBtn" type="button">Cancel</button>
    <input type="submit">
  </form>
  <form id="verifyForm">
    <h2>Verify</h2>
    <input type="text" name="email" placeholder="email">
    <input type="text" name="key" placeholder="key">
    <button class="cancelBtn" type="button">Cancel</button>
    <input type="submit">
  </form>
  <form id="loginForm">
    <h2>Log in</h2>
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button class="cancelBtn" type="button">Cancel</button>
    <input type="submit">
  </form>
  <form id="postTweetForm">
    <h2>Post A New Tweet</h2>
    <input type="text" name="content" placeholder="Tweet content">
    <button class="cancelBtn">Cancel</button>
    <input type="submit" type="button">
  </form>
  <form id="viewTweetForm">
    <h2>View a tweet</h2>
    <input type="text" name="id" placeholder="Tweet ID">
    <button class="cancelBtn" type="button">Cancel</button>
    <input type="submit">
  </form>
  <form id="searchTweetsForm">
    <h2>Tweet Search</h2>
    <input type="text" name="timestamp" placeholder="timestamp">
    <input type="number" name="limit" placeholder="limit">
    <button class="cancelBtn" type="button">Cancel</button>
    <input type="submit">
  </form>
  <div id="responseDiv">
    <h2>Response</h2>
    <div id="response"></div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="{% static 'fwitter/js/index.js' %}"></script>
  <script src="{% static 'fwitter/js/json2.js' %}"></script>
</body>
</html>